<h1>ABOUT</h1>

<div
  class="container"
  fxLayout="column"
  fxLayout.md="row"
  fxLayoutAlign="center stretch"
>
  <div
    class="cardWrap"
    fxLayout.lt-md="column"
    fxLayout.md="column"
    fxLayout="row"
    fxFlex.md="50"
    fxLayoutAligmnet="space-between center"
    fxLayoutGap="20px"
  >
    <div fxFlex.lt-md="100" fxFlex="40" class="row1">
      <img src="assets/img/me.jpeg" />
    </div>
    <div fxFlex.lt-md="100" fxFlex="60">
      <mat-card>
        I am Lauryn Sue, a fresh graduate student from Sarawak, Malaysia. A
        tech-savvy, an aspiring web developer, and a constant learner who is
        keen to explore the technologies advancement while evolving my career
        goals.
      </mat-card>
    </div>
  </div>
  <div
    class="cardWrap"
    fxLayout.lt-md="column"
    fxLayout.md="column"
    fxLayout="row"
    fxFlex.md="50"
    fxLayoutAligmnet="space-between center"
    fxLayoutGap="20px"
    class="row2"
  >
    <div fxFlex.lt-md="100" fxFlex="50">
      <h1>1</h1>
      <h3>Numbers of Completed Project(s)</h3>
    </div>
    <div fxFlex.lt-md="100" fxFlex="50" class="downloadButton">
      <button mat-stroked-button (click)="openCV()">View CV</button>
      <button mat-stroked-button (click)="openResume()">View Resume</button>
    </div>
  </div>
</div>
