<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <a routerLink="/"><h1>Lauryn.</h1></a>
    <mat-list class="navLinks">
      <mat-list-item>
        <a routerLink="/home">HOME</a>
      </mat-list-item>

      <mat-list-item>
        <a routerLink="/about">ABOUT</a>
      </mat-list-item>

      <mat-list-item>
        <a routerLink="/experience">EXPERIENCE</a>
      </mat-list-item>

      <mat-list-item>
        <a routerLink="/work">WORK</a>
      </mat-list-item>

      <mat-list-item>
        <a routerLink="/contact">CONTACT</a>
      </mat-list-item>
    </mat-list>
    <p class="copyright">Copyright 2021 LAURYN SUE</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
